.main-graph-container{
    display: flex;
    height: 100vh;
}

.graph-options-container{
    width: 40%;
    border-right: 2px solid #1A1A1A;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.graph-container{
    width: 60%;
}

.add-node-container, .add-edge-container {
    display: flex;
    gap: 10px;
}

.add-node-container > *, .add-edge-container > * {
    flex-grow: 1;
}