.content, .test-create-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.test-create-content {
    align-items: center;
}

.tests-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.test-card {
    min-width: 400px;
}

.test-card:hover {
    cursor: pointer;
    box-shadow: #1A1A1A 2px 2px 8px;
}

.test-card-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.questions-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.question-container {
    width: 100%;
}

.question-card-content, .answers-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#test-title {
    font-size: x-large;
    min-width: 500px;
}

.panels-container {
    width: 100%;
    display: flex;
}

.test-create-panel {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

#new-answer-container {
    display: flex;
    gap: 10px;
}

#new-answer-container > * {
    flex-grow: 1;
}

.questions-title-and-save-button {
    display: flex;
    justify-content: space-between;
}

.test-create-graph-container{
    width: 100%;
    height: calc(100vh - 400px);
    border: 1px solid #1A1A1A;
    border-radius: 5px;
}