.main-dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 90vh;
    overflow: hidden;
    padding: 12px;
    width: 100%;
    align-items: center;
}

.pie-chart-container {
    border-radius: 12px;
    padding: 10px;
    min-height: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.pie-chart-wrapper-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.table-container-wrapper {
    flex: 3;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    overflow: auto;

}

.table-container{
    flex: 1;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

.MuiTableBody-root tr {
    height: 48px;
}

.table-container::-webkit-scrollbar, .test-create-panel::-webkit-scrollbar {
    padding-right: 50px;
}


.muted { opacity: 0.7; }
.error-text { color: #ff6b6b; }